* {
  box-sizing: border-box;
  margin: 0;
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

header {
  background-color: cadetblue;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  gap: 2px;
}

#navigation,
#advertisement,
#content {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#content {
  flex: 2;
}

footer {
  background-color: khaki;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
